@import url(https://fonts.google.com/specimen/Quicksand?sidebar.open=true&selection.family=Quicksand:wght@300);
@import url(https://fonts.google.com/specimen/Lexend+Zetta?selection.family=Lexend+Zetta|Quicksand:wght@300#standard-styles);

@import url("cards.css");

<style>

  body {
  background-color: #EDDCD2;
  font-family:'Quicksand';
  color:#6d6875;
  }

  h1,
  h2 {
    font-family:'Lexend Zetta';
    color:#BDB5B3;
  }

  h1 {
    font-size: 70;
    margin-top: 5;
  }

  h2 {
    font-size: 20;
  }

  a,
  p,
  ul,
  li {
    font-family:'Quicksand';
    font-size: 20;
    color:#293b34;
  }

  .nodeco {
    list-style: none;
    text-decoration: none;
  }

</style>
